h1,
h2,
h3,
h4,
h5 {
    font-family: var(--headline);
    font-weight: var(--fw-bold);
    color: var(--secondary);
    line-height: 1.2;
    text-transform: uppercase;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    letter-spacing: .075rem;
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

h5 {
    font-size: var(--fs-h5);
}

p{
    color: var(--primary);
    font-family: var(--text);
    font-weight: var(--fw-medium);
    line-height: 1.2;
}

a{
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

.whiteText{
    color: var(--secondary);
}

.innerPage{
    position: relative;
    z-index: 10;
}